/* TAGS */

body {
    margin: 0; 
    background-color: #eee;
}


/* aplicado aos links do header */
ul {
    list-style-type: none;
    display: flex;
    margin: o;
    padding: 0;
    gap: 16px;
}

/* tirar o sublinhado do link */
a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

/* botao header */
button {
    padding: 10px; 
    width: 8rem;
    font-weight: 900;
    color: #F9FAF8;
    border: 2px solid #3882f6;
    border-radius: 8px;
    background-color: #3882F6;
}


/* aplicado ao footer */
footer {
    color: #F9FAF8;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;
    /* margin: 50px; */
    padding: 50px;
}



/* CLASSES */


/* estilos generais */
.font {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
    font-variation-settings:"wdth" 100;
}


.background-color {
    background-color: #1F2937;
}


.text-hero {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}


.text-hero-secondary {
    font-size: 18px;
    color: #E5E7EB
}


.bold {
    font-weight: 900;
}


.color-gray {
    color: #E5E7EB
}


/* aplicado ao header  */
.header {
    padding: 8px;
    display: flex;
    color: #F9FAF8;
    font-size: 24px;
    justify-content: space-around;
    /* background-color: aqua; */
}

.left, .right {
    display: flex;
    align-items: center;
    /* gap: 16px; */
}


/* aplicado ao container abaixo do header */
.container {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 200px;
    /* background-color: red; */
    /* gap: 0; */
}

/*.container-header {
    display: flex; 
    align-items: flex-start;
    justify-content: center;
    flex-direction: column; */
    /* margin: auto; */
    /* text-align: start; */
    /* padding: 2em;
    height: 10em; 
    width: 50em; */
    /* background-color: wheat; */
    /* gap: 0; */
    /* flex-shrink: 1; 
}*/

.container-image {
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    color: #F9FAF8 ;
    margin: auto;
    text-align: start;
    background-color: gray;
    padding: 8em;
    /* height: 10em; */
    /* width: 50em; */
    /* background-color: wheat; */
    /* gap: 0; */
    /* flex-shrink: 1; */
}


/* aplicado a primeira section main  */
.title-section {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: aqua; */
    /* margin: 50px; */
    padding: 50px;
}

.main-container {
    padding: 50px;
    display: flex;
    justify-content: space-evenly;
    gap: 25px;
    /* align-items: center; */
    /* background-color: darkorange;   */
}

.wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.boxes {
    height: 150px;
    border: 3px solid #3882f6;
    border-radius: 10px;
    /* background-color: blueviolet; */
}

/* tamanho maximo descrição boxes */
.max-p {
    color: #1F2937;
    max-width: 175px;
    /* background-color: yellow; */
}


/* aplicado a segunda section do main */
.main-container-two {
    padding: 100px;
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: violet; */
}

.citation {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;  /* light */
    color: #1F2937;
    width: 1000px;
    height: 200px;
    display: flex;
    align-items: center;
    text-align: justify;
    /* background-color: aquamarine; */
}

.text {
    display: flex;
}


/* aplicado a terceira section do main */

.main-container-three {
    padding: 50px;
    display: flex;
    justify-content: space-evenly;
    gap: 25px;
}


.blue-div {
    width: 1000px;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    color: #F9FAF8;
    background-color: #3882F6;
}


.blue-div > button {
    border-color: #E5E7EB;
}

/* aplicado ao footer */

/* .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;
    margin: 50px;
    padding: 50px;
} */


.author {
    text-align: end;
}